
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	box-sizing: border-box;
}


#main-header {
	text-align: left;
	background-color: red;
	color: white;
	padding: 10px;
}

#main {
	float: left;
	width: 70%;
	padding: 15px;
	box-sizing: border-box;
}

#sidebar {
	float: right;
	width: 30%;
	background-color: gray;
	color: white;
	padding: 15px;
	box-sizing: border-box;

}

#main-footer {
	background-color:red;
	text-align: center;
	padding: 10px;
	
}