
.container {
	width: 80%;
	overflow: hidden;
	box-sizing: border-box;
	font-size: 20px;
	padding: 20px;
}


#main-header {
	text-align: left;
	background-color: red;
	color: white;
	padding: 10px;
}




