#main-header {
	font-size: 1em;
	font-family: "Times New Roman";
}
	

.question {
	 	
	font-family: "Calibri";
	border: 1px solid black;
  	margin: auto;  
  	padding: 10px;
}
body {
	background-color: lightgrey;
}

