#mainheader {
	font-size: 2em;
	font-family: "Times New Roman";
}
	

.question {
	 	
	font-family: "Calibri";
	border: 1px solid black;
  	outline: lightred solid 10px;
  	margin: auto;  
  	padding: 10px;
}
body {
	background-color: white;
}